@import 'variables.less';

.about > .dashboard--top {
  background: @about;
}

.about .back:hover {
  background: darken(@about, 10%);
}

.about-content {
  text-align: left;
  padding: 10px;
}

.about-help {
  display: flex;
  text-align: center;

  > div > div {
    padding: 10px;
  }

  > div:not(:last-child) {
    border-right: solid 1px @textcolor;
  }


  > div:first-child {
    > .about-help--title > div {
      background: @color;
    }

    > .about-help--content > div:first-child {
      color: lighten(@color, 25%);
      font-weight: bold;
    }
  }

  > div:nth-child(2) {
    > .about-help--title > div {
      background: @color2;
    }

    > .about-help--content > div:first-child {
      color: lighten(@color2, 25%);
      font-weight: bold;
    }
  }

  > div:last-child {
    > .about-help--title > div {
      background: @color3;
    }

    > .about-help--content > div:first-child {
      color: lighten(@color3, 35%);
      font-weight: bold;
    }
  }
}

.about-help--title {
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: center;

  > div {
    padding: 5px 10px;
    border-radius: 6px;
  }
}

.about-space {
  margin-bottom: 20px;
}

.about-bold {
  font-weight: bold;
}

.about-example {
  margin: 5px 0 20px 0;
  color: #a2a2a2;
}

.about .bottom-note {
  margin-top: 20px;
}

.about .bottom-note > div {
  width: 100%;
  text-align: left;
}

.about-creators {
  display: flex;
  justify-content: space-around;
}

.joao, .oliver {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.joao {
  > .about-name {
    color: lighten(@color, 25%);
  }

  > .about-image {
    background: url('../joao.jpg') no-repeat top center;
    background-size: cover;
    border: solid 4px @color;
  }
}

.oliver {
  > .about-name {
    color: lighten(@color2, 25%);
  }

  > .about-image {
    background: url('../oliver.jpeg') no-repeat top center;
    background-size: cover;
    border: solid 4px @color2;
  }
}

.about-image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.about-name {
  font-size: larger;
  margin-bottom: 15px;
  font-weight: bold;
}

.about-twitter > i {
  margin-right: 5px;
  color: #1DA1F2;
  margin-bottom: 15px;
}